name: Deploy on server

on:
  push:
    branches:
      - main

concurrency:
  group: production
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: [self-hosted, linux, x64, mobypark]

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Download DB dump artifact
        uses: actions/download-artifact@v3
        with:
          name: mobypark-dump
          path: ./

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            cd ~/CloudChasers_MobyPark
            git pull origin main
            docker compose down
            docker compose up -d --build