name: Deploy on server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, linux, x64, mobypark]

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.4
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            cd ~/CloudChasers_MobyPark
            chmod +x generate_dump.sh

            ./generate_dump.sh

            git pull origin main

            docker compose down
            docker compose up -d --build
