name: Deploy on server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, linux, x64, mobypark]

    steps:
      - name: Checkout repository
      - uses: actions/checkout@v4

      - name: Pull latest changes
        shell: bash
        run: git pull origin main

      - name: Build application
        shell: bash
        run: |
          dotnet restore
          dotnet build -c Release

      - name: Start containers
        shell: bash
        run: |
          docker compose down
          docker compose up -d --build

      - name: Verify deployment
        shell: bash
        run: |
          SWAGGER_URL="http://localhost:8501/swagger/v1/swagger.json"
          echo "Waiting for API to become available..."
          
          for i in {1..60}; do
           if curl -sf "$SWAGGER_URL" > /dev/null; then
             echo "API is up and running!"
             exit 0
           else
             echo "API not available yet. Retrying in 5 seconds..."
             sleep 5
           fi
          done
          
          echo "API did not become available in time."
          exit 1

      - name: Install Python dependencies for Swagger fetch
        shell: bash
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install pyyaml

      - name: Fetch Swagger JSON
        shell: bash
        run: |
          set -euo pipefail
          OUTPUT_DIR="./OpenAPI"
          mkdir -p "$OUTPUT_DIR"
          
          curl -f "http://localhost:8501/swagger/v1/swagger.json" -o "$OUTPUT_DIR/swagger.json"

          jq . "$OUTPUT_DIR/swagger.json" > /dev/null
          
          echo "Swagger JSON fetched and validated successfully."

      - name: Generate OpenAPI artifacts
        shell: bash
        run: |
          cd $GITHUB_WORKSPACE/OpenAPI
          python3 generate.py


      - name: githubinfo
        shell: bash
        run: |
          echo '------ Available environment variables ------'
          env | sort
          echo '------ Directory structure ------'
          find .
      # - name: Deploy via SSH
      #   uses: appleboy/ssh-action@v1.2.4
      #   with:
      #     host: ${{ secrets.DEPLOY_HOST }}
      #     username: ${{ secrets.DEPLOY_USER }}
      #     key: ${{ secrets.DEPLOY_KEY }}
      #     script: |
      #       echo "Starting deployment..."
      #       cd ./CloudChasers_MobyPark
      #       chmod +x generate_dump.sh

      #       ./generate_dump.sh

      #       git pull origin main

      #       docker compose down
      #       docker compose up -d --build
