# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: [self-hosted, linux, x64, mobypark]
    container:
      image: mcr.microsoft.com/dotnet/sdk:8.0
    env:
      DOTNET_INSTALL_DIR: ${{ github.workspace }}/.dotnet
      DOTNET_ROOT: ${{ github.workspace }}/.dotnet

    steps:
      - uses: actions/checkout@v4
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal
